html, body {
scroll-behavior: smooth;
background: #2C3E50;
color: #ddd;
font-family: 'Raleway-Semi-Bold', sans-serif;
overflow-x: hidden;
}

/* utility*/
hr {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.border{border: linear-gradient(rgba(22,49,73,0.8),rgba(0,0,0,0),rgba(22,49,73,0.4));}
.bg-nav{background: #163149;}
.cl-nav{color: #163149;}
.bg-shades1{background: #163149 !important;}
.bg-shades2{background: #21323F; transition: 0.3s;}
.bg-shades3{background: #D9D8D9;}

.mybrdr{width: 75px; margin:auto; border-left: 2px solid #17a2b8; border-right: 2px solid #17a2b8;}
.sticky-top{z-index: 9999999;}

.banner{background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0)), url('../images/bg.jpg'); height: 100vh; background-size: cover; background-position: top;}

.bg-img-service{background: linear-gradient(rgba(22,49,73,0.8),rgba(0,0,0,0),rgba(22,49,73,0.4)), url('../images/background.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
img{max-width: 100%;}
img:hover{opacity: 1;}
.img{opacity: 0.8; transition: 0.5s;}
.img:hover{opacity: 1;}
.full-height {
 overflow:auto;
 overflow-x: hidden;
 height: 90.4vh;
}

#go-top{display:none; position: fixed; bottom: 0.6rem; right: 1rem; cursor: pointer; border-radius: 50%; font-size: 1.2rem; transition: 0.5s; z-index: 99999999;}
#go-top:hover{color: #17a2b8;}
/* scrollbar */


body::-webkit-scrollbar {
    width: .5em;
}
 
body::-webkit-scrollbar-track {
  background: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-left: 1px solid grey;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #163149;
  outline: 1px solid #163149;
}
body::-webkit-scrollbar-thumb:hover{
  background-color: #2E465C;
}


/* list-group */
.list-group-item {
  padding: 0.45rem 1.25rem;
  background-color: #163149;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.list-group-item-action:hover{
  color: #FFF;
  background-color: #17a2b8;
 border-color: #2D2927;
}
.list-group-item-action {
  color: #D9D8D9;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.service{transition: 0.5s;}
.service:hover{background: rgba(0,0,0,0.5);}
.text-white-75 {
  color: #ddd !important;
}
.bg-black{background: rgba(0,0,0,0.3) !important;}

.my-border{
  border:5px solid #4a4a48;
  border-radius: 5px;
}
.my-f-size{
  font-size: 0.7rem;
}
.my-f-size2{
  font-size: 0.8rem;
}
.my-f-size3{
  font-size: 0.9rem;
}
.shadow {
  box-shadow: 0 0 0.6rem 0.04rem rgba(0, 0, 0, 0.31) !important;
}

.shadow2 {
  box-shadow: 0 0 0.5rem 0rem rgba(0, 0, 0, 0.7) !important;
}
.shadow3 {
    box-shadow: 0 0 7px 1px rgb(60, 108, 150);
}/* social icon */
.icon a{ color: #F0F0F0;
}
.icon a:hover{ color: #80ac7b;
}
/* ==left-section== */
/*--- HOME ---*/
.position-absolute-center{
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

/* --- ABOUT ME ----- */
.mt-6{
  margin-top: 6rem !important;
}
.mt-5-5{margin-top: 3.9rem !important;}
.display-5{
   font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  transition: all 2s;
}


.display-5:hover{background: #469FFF;}
.display-5:hover .service-content{display: none;}
.clients{ background: red; color: #000; opacity: 1;}
.clients:hover{background: #D9D8D9; cursor: pointer;}
.mt-n6{
  margin-top: -3.5rem;
}
.check{color: red;}
/* == TOGGLE ==*/

.nav-col{position: fixed; transition: 0.3s; z-index: 99999999; right: -100%;}
.my-col{right:  0; transition: 0.3s; }

#Close{font-size: 1.5rem; cursor: pointer;}
#humburger{ cursor: pointer; width: 37px; height: 37px; position: relative;}
.humburger-line{width: 25px; height: 2px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  background: #17a2b8;}
.humburger-line:after,
.humburger-line:before{content: ""; width:25px; height: 2px; background: #17a2b8; position: absolute;}
.humburger-line:before{top: -9px;}
.humburger-line:after{top: 9px;}
 

/*   ======resume=====   */
.content:after{content: '▾'; position: absolute; margin-top: 0.5rem; margin-left: -0.5rem; transform: translateX(-50%); font-size: 1.4rem; color: #17a2b8;}
/*.skills-progress:after{content: '75%'; position: absolute; bottom:  10px; right: 0;}*/
.qlfc-icn{position:absolute; font-size: 0.3rem; left: 50%; transform: translateX(-50%);}

.skills{overflow: hidden; padding: 3px;}

.html-value{left: -73%; width: 76.6%; bottom: 0;}

.css-value{left: -68%; width: 71.6%; bottom: 0;}

.js-value{left: -48%; width: 51.6%; bottom: 0;}

.bs-value{left: -83%; width: 86.6%; bottom: 0;}

.jq-value{left: -78%; width: 81.6%; bottom: 0;}
.wp-value{left: -18%; width: 21.6%; bottom: 0;}
.seo-value{left: -8%; width: 11.6%; bottom: 0;}


.skills-html{width: 75%; bottom: 0; left: -75%; padding: 3px;}

.skills-css{width: 70%; bottom: 0; left: -70%; padding: 3px;}

.skills-js{width: 50%; bottom: 0; left: -50%; padding: 3px;}

.skills-bs{width: 85%; bottom: 0; left: -85%; padding: 3px;}
.skills-wp{width: 20%; bottom: 0; left: -20%; padding: 3px;}

.skills-jq{width: 80%; bottom: 0; left: -80%; padding: 3px;}
.skills-seo{width: 10%; bottom: 0; left: -10%; padding: 3px;}

.skills-value{border-radius: 2px; padding: 1px 7px; position: relative;}

.skills-value:after{content: '▾'; position: absolute; top: 8px; left: 50%; transform: translateX(-50%); font-size: 1rem; color: #17a2b8;}

/*image model*/
.model{display: none; width: 100%; height:100%; position: fixed; top: 0; left: 0;  background: rgba(0,0,0,0.7); z-index: 9; padding-top: 85px; overflow: auto;}
.close2 {
  position: absolute;  top: 15px;  right: 35px;  color: #f1f1f1;  font-size: 40px;  font-weight: bold;
  transition: 0.3s;
}
.model-content{margin: auto; display: block; width: 80%; max-width: 700px;}
.model-content {  
  -webkit-animation: zoom 0.6s;
  animation: zoom 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/*=====PORTFOLIO=======*/
.nav-link {
    display: block;
    padding: 0.3rem 1rem ;
}
.nav-link:hover{
  color: #17a2b8;
}

a {
    color: #D9D8D9;
}
a:hover{text-decoration: none;
}
a.text-info:hover, a.text-info:focus {
  color: #1787A9 !important;
}
.list-group a:hover{color: #fff; background: #17a2b8 !important;}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.active:hover{color: #fff !important;}
.active{color: #fff; background: #17a2b8;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #17a2b8;
    border-bottom: 3px solid #17a2b8;
    background-color: transparent;
    border-radius: 0;
}

.overlap {position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: transparent; display: flex;  justify-content: center;  align-items: center;  transition: all 0.5s; cursor: pointer;}
.overlap:hover {background: rgba(0,0,0,0.6);color: #fff;}

/*=====CONTACT ME=======*/

.form-control
{
    height: calc(2rem + 2px);
    padding: .2rem .75rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: #F0F0F0;
    background-color: #21323F;
    border: 0px solid #ced4da;
}
.form-control::placeholder {
  color: #D9D8D9;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #D9D8D9;
}

.form-control::-ms-input-placeholder { 
  color: #D9D8D9;
}

.btn:focus, .was-validated .form-control:valid:focus, .form-control.is-valid:focus,.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus ,.form-control:focus{
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0);
}
 textarea{resize: none;}
.form-control:focus {
  color: #fff;
  background-color: #182C3C;
}


.btn:hover{background: #0F243C; color: #fff;}
.btn {
    font-weight: 500;
    color: #F0F0F0;
    padding: .375rem 1.5rem;
    background: #21323F;
    border:0;
    font-size: 0.8rem;
}
/* ===========================
   ===== Lightbox  =====
   =========================== */


.centering{
  max-width:auto;
  margin:50px auto;
  text-align: left
}

.lightbox_overlay{
  position: absolute;
  top: 0;
  left:0;
  background: black;
  opacity: 0.7;
  z-index:999;
  cursor: pointer;
}

.lightbox{
  position: absolute;
  background: white;
  z-index: 1000;
}


.spinner{
  position: absolute;
  top:calc(50% - 25px);
  left:calc(50% - 25px);
  font-size: 50px;
  -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


.close{
  position: absolute;
  color:#fff;
  font-size:30px;
  cursor: pointer;
  z-index:1001;
}

.next_img{
  position: absolute;
  color:#fff;
  font-size:50px;
  right:10px;
  cursor: pointer;
  z-index:1001;
  opacity:0.9;
}
.next_img:hover{
  opacity:1
}

.prev_img{
  position: absolute;
  color:#fff;
  font-size:50px;
  left:10px;
  cursor: pointer;
  z-index:1001;
  opacity:0.9;
}

.prev_img:hover{
  opacity:1;
}


@media (max-width: 992px) {
  .mt-sm-6 {
    margin-top: 5rem !important;
  }
}
@media (min-width: 576px){
.display-md{font-size: 2.5rem;}
}
